html {
  background-color: #c9b5ab;
  font-family: "PT Serif", serif;
  font-weight: normal;
  line-height: 1.5;
  max-width: 608px;
}

h1, h2 {
  color: #3f1622;
  font-family: "PT sans";
  font-weight: bolder;
  font-size: 1.5rem;
}

nav {
  font-family: "PT sans";
  font-weight: bolder;
  font-size: 1.125rem;

}

nav ol {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #8f2440;
}

a:hover {
  color: red;
  text-decoration: none;
}

img {
  width: 513px;
}

figcaption {
  font-style: italic;
  text-align: center;
}

.days {
  font-size: 1.125rem;
  font-weight: bolder;
}

blockquote {
  font-size: 1.5rem;
  font-style: italic;
}

footer {
  font-size: 0.8rem;
}

/*  Typefaces: PT Sans, PT Serif (from Google Fonts)
    Text sizes: 1.5rem, 1.125rem, 0.8rem
    Line height: 1.5
    Colours: #c9b5ab, #8f2440, #222, #3f1622, #3f1622*/
